<h1 mat-dialog-title>Edit</h1>

<div mat-dialog-content>
  <form [formGroup]="editForm">
    <!-- Id field -->
    <mat-form-field appearance="standard">
      <mat-label>Id</mat-label>
      <input formControlName="id" matInput />
    </mat-form-field>

    <!-- Titre field -->
    <mat-form-field appearance="standard">
      <mat-label>Titre</mat-label>
      <input formControlName="titre" matInput required />
    </mat-form-field>

    <!-- Auteur field -->
    <mat-form-field appearance="standard">
      <mat-label>Auteur</mat-label>
      <input formControlName="auteur" matInput required />
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onSubmit()">Ok</button>
  <button mat-button mat-dialog-close>Close</button>
</div>
