<div class="mat-typography">
  <h1>Dashboard</h1>

  <div *ngIf="isLoggedIn">
    <!-- TODO: Toute cette partie génère des erreurs, faut nettoyer-->
    <h2>User Information</h2>
    <table>
      <tr *ngIf="userProfile!.username">
        <th scope="row">Username</th>
        <td>{{ userProfile!.username }}</td>
      </tr>
      <tr *ngIf="userProfile!.firstName">
        <th scope="row">First name</th>
        <td>{{ userProfile!.firstName }}</td>
      </tr>
      <tr *ngIf="userProfile!.lastName">
        <th scope="row">First name</th>
        <td>{{ userProfile!.lastName }}</td>
      </tr>
      <tr *ngIf="userProfile!.email">
        <th scope="row">E-mail</th>
        <td>{{ userProfile!.email }}</td>
      </tr>
      <tr>
        <th scope="row">E-mail verified</th>
        <td>{{ userProfile!.emailVerified ? "Yes" : "No" }}</td>
      </tr>
    </table>

    <button mat-raised-button (click)="logout()">logout</button>
    <button mat-raised-button>
      <a routerLink="/crud" routerLinkActive="active">CRUD page</a>
    </button>
  </div>

  <div *ngIf="!isLoggedIn">
    <p>User not logged in</p>
    <button mat-raised-button (click)="login()">login</button>
  </div>
</div>
