<table mat-table [dataSource]="this.livres" class="mat-elevation-z8">
  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Titre Column -->
  <ng-container matColumnDef="titre">
    <th mat-header-cell *matHeaderCellDef>Titre</th>
    <td mat-cell *matCellDef="let element">{{ element.titre }}</td>
  </ng-container>

  <!-- Auteur Column -->
  <ng-container matColumnDef="auteur">
    <th mat-header-cell *matHeaderCellDef>Auteur</th>
    <td mat-cell *matCellDef="let element">{{ element.auteur }}</td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button id="{{'edit-'+element.id}}" (click)="onEditClick(element)">
        <mat-icon>create</mat-icon>
      </button>
      <!-- Si l'utilisateur n'est pas un admin, il ne peut pas supprimer des entrées -->
      <button
        *ngIf="this.userRoles.includes('admin')"
        mat-icon-button id="{{'delete-'+element.id}}" (click)="onDeleteClick(element)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<button mat-raised-button (click)="onAddClick()">Ajouter un livre</button>
