/* You can add global styles to this file, and also import other style files */

$indigo: #3f51b5;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bandeau {
  width: 100%;
  box-sizing: border-box;
  height: 75px;
  padding: 0 50px 0 50px;
  background-color: $indigo;
  display: flex;
  align-items: center;
  justify-content: space-between;

  svg {
    height: 50px;
  }
}

#main-container {
  max-width: 1000px;
  margin: 0 auto;
}
